.container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
  z-index: 1000;
}

.feather {
  position: absolute;
  width: 5em;
  height: 5em;
  animation: fly 3s linear infinite;
}

@keyframes fly {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  25% {
    transform: translate3d(50vw, 20vh, 0) rotate(90deg);
  }
  50% {
    transform: translate3d(100vw, 50vh, 0) rotate(180deg);
  }
  75% {
    transform: translate3d(50vw, 80vh, 0) rotate(270deg);
  }
  100% {
    transform: translate3d(0, 100vh, 0) rotate(360deg);
  }
}
