.button {
  padding: 1.25em 2.25em;
  border: none;
  border-radius: 2px;
  font-size: 0.85em;
  cursor: pointer;
  text-transform: uppercase;

  &.primary {
    background-color: var(--beige);
    color: var(--white);

    &:hover {
      background-color: var(--light-beige);
    }
  }

  &.accent {
    background-color: var(--white);
    color: var(--primary);
    border: 2px solid var(--beige);

    &:hover {
      background-color: var(--light-beige);
    }
  }
}
