@import "@/styles/variables.scss";
@import "@/styles/animations.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 5em);
  gap: 1em;

  @media (max-width: $breakpoint-medium), (max-width: $breakpoint-small) {
    overflow: auto;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
    overflow-y: auto;
  }

  .image {
    background-image: url("/images/game-board.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 40vh;
    z-index: 1;
  }

  .title {
    font-size: 2.5vw;
    font-family: var(--font-family-bold);
    color: var(--primary);
    animation: slide-up 0.7s ease forwards;
    opacity: 0;
    margin-bottom: 1em;
  }

  .content {
    font-family: var(--font-family);
    color: var(--light-black);
    font-size: 95%;
    line-height: var(--line-height-medium);
    animation: slide-down 0.7s ease forwards;
    text-align: justify;
    white-space: pre-line;
    overflow-y: auto;
    padding-right: 0.5em;

    section {
      margin: 1em 1em 1em 0;

      h4 {
        margin: 0.5em;
        font-family: var(--font-family-bold);
        color: var(--primary);
        text-align: center;
      }
    }

    ul {
      list-style: disc outside;
      padding-left: 24px;
    }

    li {
      display: list-item;
    }
  }

  .next {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}