.select {
  appearance: none;
  padding: 0.5rem;
  font-size: var(--font-size-medium);
  border: 2px solid var(--light-beige);
  border-radius: 0.125rem;
  background-color: var(--white);
  color: var(--light-black);
  cursor: pointer;
  min-width: 3rem;
  text-align: center;
}

.select:hover,
.select:focus {
  color: var(--light-beige);
}

.option {
  color: var(--light-black);
  line-height: var(--line-height-medium);
  background-color: var(--white);
}

.option:hover,
.option:focus {
  color: var(--accent)!important;
}
