$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;

  @media (max-width: $breakpoint-medium), (max-width: $breakpoint-small) {
    grid-template-columns: 1fr;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}

.image {
  background-image: url("/images/home.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: calc(100vh - 100px);

  // Media queries for image responsiveness
  @media (max-width: $breakpoint-medium) {
    height: 50vh;
  }

  @media (max-width: $breakpoint-small) {
    height: 30vh;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
