.container {
  display: flex;
  align-items: center;
  gap: 1em;

  button {
    div {
      display: flex;
      align-items: center;
    }
  }

  .content {
    display: flex;
    align-items: center;
    gap: 1em;
    &:not(:first-child) {
      .text {
        display: none;
      }
    }
  }
}
