.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 999;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;

  img {
    cursor: pointer;
  }
}

.divider {
  border: 0;
  height: 1px;
  background: var(--beige);
  margin: 0.5rem 0;
}
