.container {
  width: 100%;
  background-color: var(--white);
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1rem 0;
}

.divider {
  border: 0;
  height: 1px;
  background: var(--beige);
  margin: 0.5rem 0;
}

.text {
  color: var(--light-black);
  font-size: 0.75em;
}

.images {
  display: flex;
  gap: 1em;
}
