@import "@/styles/animations.scss";
@import "@/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  height: calc(100vh - 5em);
  gap: 2rem;
  overflow: hidden;

  @media (max-width: $breakpoint-medium), (max-width: $breakpoint-small) {
    grid-template-columns: 1fr;
    animation: fadeIn 0.5s ease-in-out forwards;
  }
}

.image {
  width: 100%;
  overflow: hidden;
  height: calc(100vh - 5em);
  animation: image-in 1s cubic-bezier(0.5, 0, 0.1, 1) 0.3s backwards;

  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  // Media queries for image responsiveness
  @media (max-width: $breakpoint-medium) {
    height: 50vh;
    animation: none;
  }

  @media (max-width: $breakpoint-small) {
    height: 30vh;
    animation: none;
  }
}

.column {
  width: 100%;
  z-index: 2;
  animation: outer-right 1s 1s ease both;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  overflow-y: auto;
  scroll-behavior: smooth;
  margin-top: 5em;

  @media (max-width: $breakpoint-medium), (max-width: $breakpoint-small) {
    margin-top: 1em;
  }
}

.title {
  font-size: 2.5vw;
  font-family: var(--font-family-bold);
  color: var(--primary);
  animation: slide-up 0.7s ease forwards;
  opacity: 0;
  margin-bottom: 1em;
}

.content {
  width: 90%;
  overflow-y: auto;
  font-family: var(--font-family);
  color: var(--light-black);
  font-size: 95%;
  line-height: var(--line-height-medium);
  animation: slide-down 0.7s ease forwards;
  text-align: justify;
  white-space: pre-line;

  section {
    margin: 1em 1em 1em 0;

    h3 {
      margin-bottom: 0.65em;
      font-family: var(--font-family-bold);
      color: var(--primary);
    }

    h4 {
      margin: 0.5em;
      font-family: var(--font-family-bold);
      color: var(--primary);
    }
  }

  .summary {
    font-size: 2vw;
    font-family: var(--font-family-bold);
    color: var(--primary);
    text-align: center;
    margin-bottom: 0.5em;
  }

  ul {
    list-style: disc outside;
    padding-left: 24px;
  }

  li {
    display: list-item;
  }
}

.next {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  margin-top: 1.5em;
}
