.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
  height: calc(100vh - 100px);

  .column {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
