@import "@/styles/variables.scss";

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: calc(100vh - 5em);
  gap: 1em;

  @media (max-width: $breakpoint-medium), (max-width: $breakpoint-small) {
    overflow: auto;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin: 0 2em;
  }

  .title {
    font-size: 2.5vw;
    font-family: var(--font-family-bold);
    color: var(--primary);
    animation: slide-up 0.7s ease forwards;
    opacity: 0;
    margin-bottom: 1em;
  }

  .content {
    font-family: var(--font-family);
    color: var(--light-black);
    font-size: 95%;
    line-height: var(--line-height-medium);
    animation: slide-down 0.7s ease forwards;
    text-align: justify;
    white-space: pre-line;
  }

  .next {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
  }
}

@keyframes slide-up {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
